.root {
    -fx-background-image: url("Resources/background.jpg");
}

.table-view {
}

.table-view .column-header .label {
    -fx-font-weight: bold;
}

.button {
}

.progress-bar {
    -fx-accent: red;
    -fx-control-inner-background: black;
}
