.root {
     -fx-background-image: url("background.jpg");
}

.table-view {
    -fx-font: 12px "monospace";
}

.button {
}

.progress-bar {
    -fx-accent: red;
    -fx-control-inner-background: black;
}
